
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body ,div {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

button, label, input[type='checkbox'] {
    cursor: pointer;
}

button, select, input {
    padding: 5px;
}

input, select, textarea {
    display: block;
    width: 100%;
}

input[type=checkbox] {
    display: inline-block;
    width: 20px;
    height: 20px;
}

input.invalid {
    border: 1px solid #ffc1c1;
}

table.form-table {
    border-collapse: collapse;
    min-width: 500px;
}

table.form-table td {
    padding: 5px;
}

.error {
    color: #980000;
    font-size: 10px;
}
